{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="row p-5">
		<div class="col-4 border">
			<ul class=" list-group">
				{% for category in categories %}
					<li>
						<a href="{{path('app_get_article_by_category', {id_category : category.id})}}" class="list-group-item">{{category.title}}</a>
					</li>

				{% endfor %}
			</ul>
		</div>
		<div class="col-8 border">

			{% for article in articles %}
			{# {{dump(article)}} #}
				<a href="{{ path('app_article_show', {id : article.id })}}">
					<div class="article d-flex p-3">

						{% if article.picture is empty %}
							<img class="col-md-4" src="{{ asset('/build/images/default.jpg') }}" alt="{{article.title}}" title="{{article.title}}">
						{% else %}
							<img class="col-md-4" src="{{ asset('/build/images/' ~ article.picture) }}" alt="{{article.title}}" title="{{article.title}}">
						{% endif %}

						<div class="d-flex flex-column ms-3">
							<h3>
								{{article.title}}
							</h3>
							<p>
								{{article.description}}
							</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endblock %}
