{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}
{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<h1>Register</h1>
	<div class="container col-6">
		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm, { 'attr': {'class': 'row', 'novalidate': 'novalidate'} }) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.password, {
            label: 'Mot de passe'
        }) }}
		<div class="d-flex ">
			{{ form_row(registrationForm.name,{ label: 'Nom de famille'}) }}
			{{ form_row(registrationForm.first_name, { label: 'Prénom'}) }}
		</div>
		<div class="d-flex ">
			{{ form_row(registrationForm.city) }}
			{{ form_row(registrationForm.cp) }}
		</div>
		{{ form_row(registrationForm.agreeTerms) }}

		<button type="submit" class="btn btn-primary">Register</button>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
