{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
	<div class="col-10 mx-auto border my-5">
<h2> Vos informations: </h2>
      <li> Mail : {{ app.user.email}} </li>
      <li> Nom : {{ app.user.name}} </li>
      <li> Prénom : {{ app.user.firstname}} </li>
      <li> Ville : {{ app.user.city}} </li>
      {% for role in app.user.roles %}
            <li> Rôle : {{ role}} </li>
 {% endfor %}
   {# {{ dump(app.user)}} #}

   <a href={{path("app_modify_password")}} class="btn btn-lg btn-danger" >Modifier Mots de passe</a>
   <a href={{path("app_modify_info")}} class="btn btn-lg btn-warning" >Modifier informations</a>
      <a href={{path("app_delete_account")}} class="btn btn-lg btn-secondary" >Supprimer compte</a>
</div>
{% endblock %}
