{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!
{% endblock %}

{% form_theme passwordForm 'bootstrap_5_layout.html.twig' %}

{% block body %}
<div class="row col-md-10 mx-auto">
{{ form_start(passwordForm, { 'attr': {'class': 'row', 'novalidate': 'novalidate'} }) }}


{{ form_row(passwordForm.oldPassword, {'row_attr': {'class':'col-md-6'}})}}
{{ form_row(passwordForm.password, {'row_attr': {'class':'col-md-6'}})}}

{{ form_row(passwordForm._token)}}


<button  type="submit" class="btn btn-success mt-3 col-7 mx-auto"> Modifier mot de passe</button>

{{ form_end(passwordForm, {render_rest:false})}}
</div>

{% endblock %}