<nav class="container-fluid navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{path('app_home')}}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse  justify-content-end " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="path('app_article_index')">Nos articles <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="path('app_contact')">Contacts</a>
      </li>
         {% if is_granted('ROLE_USER') %}
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_profil')}}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_logout')}}">Déconnexion</a>
        </li>
        {% else %}
 <li class="nav-item">
          <a class="nav-link" href="{{path('app_login')}}">Se connecter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_register')}}">S'insrire</a>
        </li>
      {% endif %}
     
      
    </ul>
    <form class="form-inline d-flex my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>