{% extends 'base.html.twig' %}

{% block title %}Article index
{% endblock %}

{% block body %}
	<h1>Article</h1>

	<div class="col-10 mx-auto border my-5">


		<div class="d-flex article p-3">

			{% if article.picture is empty %}
				<img class="col-md-4" src="{{ asset('/uploads/articles/default.jpg') }}" alt="{{article.title}}" title="{{article.title}}">
			{% else %}
				<img class="col-md-4" src="{{ asset('/uploads/articles/' ~ article.picture) }}" alt="{{article.title}}" title="{{article.title}}">
			{% endif %}


			<div class="col-md-8 d-flex flex-column ms-3 align-items-start">
				<h3>
					{{article.title}}
				</h3>
				<p>
					{{article.description}}
				</p>


				{% if app.user and 'ROLE_ADMIN' in app.user.getroles()  %}
					<a class="btn btn-warning" href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
					{{ include('article/_delete_form.html.twig') }}
				{% endif %}


				{% if app.user is not null  %}
					<div class="flex-column">
						{{ include('commentaire/index.html.twig') }}

					</div>
				</div>
			{% endif %}

		</div>


		<div class="card-footer">
			<h3>Commentaires</h3>

			<ul>
				{% for comment in article.comments %}
					<li>{{ comment.date|date('Y-m-d H:i:s') }}
						-
						{{comment.IdUser}}</li>
					<p>{{ comment.comment }}</p>
				{% endfor %}
			</ul>

		</div>


		<div class="row justify-content-center">
			{% if app.user and 'ROLE_ADMIN' in app.user.getroles()  %}
				<a class="my-5 col-md-2 btn btn-success" href="{{ path('app_article_new') }}">Create new</a>
			{% endif %}
		</div>
	</div>
{% endblock %}
